<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Egalitarian:</h4>
                <div class="easypiechart" id="easypiechart-aqua" data-percent="<%= result.PercentileEgalitarian %>" ><span class="percent"><%= result.PercentileEgalitarian %>%</span>
                </div>
            </div>
        </div>
    </div>   
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Xenophilia:</h4>
                <div class="easypiechart" id="easypiechart-blood" data-percent="<%= result.PercentileXenophile %>" ><span class="percent"><%= result.PercentileXenophile %>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Spiritualist:</h4>
                <div class="easypiechart" id="easypiechart-daisy" data-percent="<%= result.PercentileSpiritualist %>" ><span class="percent"><%= result.PercentileSpiritualist %>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Pacifist:</h4>
                <div class="easypiechart" id="easypiechart-grey" data-percent="<%= result.PercentilePacifist %>" ><span class="percent"><%= result.PercentilePacifist %>%</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Authoritarian:</h4>
                <div class="easypiechart" id="easypiechart-navy" data-percent="<%= result.PercentileAuthoritarian %>" ><span class="percent"><%= result.PercentileAuthoritarian %>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Xenophobia:</h4>
                <div class="easypiechart" id="easypiechart-marone" data-percent="<%= result.PercentileXenophobe %>" ><span class="percent"><%= result.PercentileXenophobe %>%</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Materialist:</h4>
                <div class="easypiechart" id="easypiechart-gold" data-percent="<%= result.PercentileMaterialist %>" ><span class="percent"><%= result.PercentileMaterialist %>%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div class="panel panel-default">
            <div class="panel-body easypiechart-panel">
                <h4>Militarist:</h4>
                <div class="easypiechart" id="easypiechart-black" data-percent="<%= result.PercentileMilitarist %>" ><span class="percent"><%= result.PercentileMilitarist %>%</span>
                </div>
            </div>
        </div>
    </div>
</div>